@model NMCNPM_Nhom3.Models.Entities.TblBike

@{
    ViewData["Title"] = "Chỉnh sửa xe";
}

<h2 class="fw-bold text-warning">✏ Chỉnh sửa thông tin xe</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="PkIdBike" />
    <div class="form-group">
        <label>Tên xe</label>
        <input asp-for="SName" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Giá thuê</label>
        <input asp-for="FRentalPrice" type="number" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">✔ Lưu</button>
    <a asp-action="Index" class="btn btn-outline-dark">⬅ Hủy</a>
</form>
