@{
    ViewData["Title"] = "Home";
}

<div>
    <div class="banner position-relative text-white text-start">
        <img src="~/assets/resources/banner.png" class="img-fluid w-100 rounded shadow" alt="Banner Image">
        <div class="banner-content position-absolute top-50 start-25 translate-middle-y w-25 ps-5 ms-5">
            <h1 class="fw-bold title-banner">Cho thuê xe đạp lượn lờ tại Hồ Tây</h1>
            <p class="lead fs-2">Dịch vụ cho thuê xe đạp uy tín nhất tại Hồ Tây, mại dô, mại dô</p>
            <a href="/About" class="btn btn-danger btn-lg">Tìm hiểu thêm</a>
        </div>
    </div>
</div>